<% provide(:title, "About") %>
<h1>Meet our Squad (Soon...!)</h1>

<div class="row">
  <div class="col-md-3 team">
    <span>Alex Lester</span>
  </div>
  <div class="col-md-3 team">
    <span>Ajay Desai</span>
  </div>
  <div class="col-md-3 team">
    <span>Nur-e Farzana Rahman</span>
  </div>
  <div class="col-md-3 team">
    <span>Ken Rettberg</span>
  </div>
</div>
