<% provide(:title, "Contact") %>
<h1>Social Media Links</h1>
<div class="row">
  <div class="jumbotron" style="margin-left: 28%">
    <p>Are currently the best way to reach us.</p>
    <div>
      <h5><%= link_to "Facebook", "https://www.facebook.com/SquadRide/" %></h5>
      <h5><%= link_to "Twitter", "https://twitter.com/squad_ride" %></h5>
    </div>

    <p>Thank you!</p>
  </div>
</div>
