<footer class="footer">
  <small>
    <a href="http://localhost:3000/">Squad</a>
    Created by Ken Rettberg, Alex Lester, Ajay Desai, and Nur-e Farzana Rahman.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>